<mat-toolbar color="Primary" style="display: flex;justify-content: space-around;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    <span style="display: flex;justify-content: center;">KangKedd's</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button >
        <button routerLink = 'signup'  style="width: 60px; height: 34px;"> Sign Up
        
      </button>
</mat-toolbar>