<p style="display: flex;justify-content: center; margin-top:50px;">
    <mat-form-field appearance="legacy">
        <mat-label>Nhập Email & Username</mat-label>
        <input matInput placeholder="Email & Username">
    </mat-form-field>
</p>
<p style="display: flex;justify-content: center;">
    <mat-form-field appearance="standard">
        <mat-label>Nhập Password</mat-label>
        <input matInput placeholder="Password">
    </mat-form-field>
</p>
<p style="display: flex;justify-content: center;">
    <mat-form-field appearance="legacy">
        <mat-label>Họ</mat-label>
        <input matInput placeholder="">
    </mat-form-field>
</p>
<p style="display: flex;justify-content: center;">
    <mat-form-field appearance="standard">
        <mat-label>Tên</mat-label>
        <input matInput placeholder="">
    </mat-form-field>
</p>
<p style="display: flex;justify-content: center;">
    <mat-form-field appearance="standard">
        <mat-label>Tuổi</mat-label>
        <input matInput placeholder="">
    </mat-form-field>
</p>
<section>
    <div class="example-label"></div>
    <button mat-flat-button color="primary">Sign Up</button>
</section>